self learning
edited by Manoj
<app-first></app-first>
<app-second></app-second>
<app-third-component></app-third-component>
<app-fourth></app-fourth>
<app-mybranch></app-mybranch>
<app-testcomponent></app-testcomponent>
<app-component1></app-component1>
<app-component2></app-component2>